.sidebar {
  position: fixed;
  height: calc(100vh - 80px);
  width: 0;
  background-color: #fff;
  right: 0;
  top: 80px;
  overflow-y: scroll;
  > div {
    padding: 25px;
    position: relative;
    opacity: 0;
    top: 6px;
    left: 0;
  }
}

.tag {
  margin-right: 1.5rem;

  + span {
    padding-right: 1.5rem;
  }
}

.head {
  margin-bottom: 2rem;
}

.title {
  margin: 1.5rem auto;
}

a {
  color: #ca026e;
  margin: 1.5rem auto;
}
