@import '../../../assets/styles/variables';
@import '../../../../node_modules/bulma/sass/utilities/all';
@import '../../../assets/styles/commons/mixins';

img {
  box-shadow: 0 10px 0 24px rgba(200, 200, 200, 0.5);
}
.sidebar {
  width: 0;

  > div {
    opacity: 0;
  }
}

.head {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}
