<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [streetViewControl]="false"
  [mapDraggable]="false"
  [zoomControl]="false"
  [zoom]="12"
  [styles]="mapStyles"
>
  <agm-marker
    *ngFor="let accident of accidents"
    [latitude]="accident.camera.lat"
    [longitude]="accident.camera.lon"
    (markerClick)="openSidebar(accident)"
    iconUrl="../../../assets/img/caution.gif"
  ></agm-marker>
</agm-map>

<div class="sidebar" #sidebar>
  <div #sidebarContent>
    <div class="head  m-b-gutter">
      <h4 class="title is-4 m-b-0">Accident detecté</h4>
      <a (click)="closeSidebar()"><i class="fa fa-close"></i></a>
    </div>

    <app-accident-card
      [accident]="selectedAccident"
      *ngIf="selectedAccident"
    ></app-accident-card>
  </div>
</div>
