<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [streetViewControl]="false"
  [mapDraggable]="false"
  [zoomControl]="false"
  [zoom]="12"
  [styles]="mapStyles"
>
  <agm-marker
    *ngFor="let accident of accidents"
    [latitude]="accident.camera.lat"
    [longitude]="accident.camera.lon"
    (markerClick)="openSidebar(accident)"
    iconUrl="../../../assets/img/caution.gif"
  ></agm-marker>
</agm-map>

<div class="sidebar" #sidebar>
  <div #sidebarContent>
    <div class="head  m-b-gutter">
      <h4 class="title is-6 m-b-0">Accident detecté</h4>
      <a (click)="closeSidebar()"><i class="fa fa-close has-text-grey"></i></a>
    </div>

    <div class="card" *ngIf="selectedAccident">
      <p class="date ">
        <span class="m-r-gutter">
          {{ selectedAccident.createdAt | date }}
        </span>
        <span>
          <i class="fa c"></i>
          à {{ selectedAccident.createdAt | date: 'HH:mm' }}
        </span>
      </p>

      <p class="has-dot ">
        <i class="dot m-r-xs">•</i>
        <span class="p-b-md has-text-black p-t-md">
          {{ selectedAccident.vehicles.length }}
          <ng-container *ngIf="selectedAccident.vehicles.length > 1">
            véhicules sont concernés
          </ng-container>
          <ng-container *ngIf="selectedAccident.vehicles.length < 2">
            véhicule est concerné
          </ng-container>
          par un accident sur votre secteur
        </span>
      </p>

      <figure>
        <img src="assets/img/accident-current.png" alt="Image of accident" />
      </figure>

      <div>
        <div class="card--middle">
          <p class="    m-t-md vehicles">
            <span class="m-r-gutter" *ngIf="carCount">
              <i class="fa fa-car m-r-xs tag"></i>
              x {{ carCount }}
            </span>
            <span class="m-r-gutter" *ngIf="bikeCount">
              <i class="fa fa-motorcycle m-r-xs tag" *ngIf="bikeCount"></i>
              x {{ bikeCount }}
            </span>
            <span class="m-r-gutter" *ngIf="truckCount">
              <i class="fa fa-truck m-r-xs"></i>
              x {{ truckCount }}
            </span>
            <span class="m-r-gutter" *ngIf="personCount">
              <i class="fa fa-male m-r-xs" *ngIf="personCount"></i>
              x {{ personCount }}
            </span>
          </p>
        </div>
      </div>
      <div class="foot">
        <a
          href=""
          class="has-text-black m-b-md button is-fullwidth is-small p-y-md m-b-md"
        >
          <i class="fa fa-adjust is-size-6 p-r-sm has-text-black-ter"></i>
          <span class="p-y-xs">Ce n'est pas un accident</span>
        </a>
        <div>
          <a (click)="close(selectedAccident)" class="has-text-black">
            <i class="fa fa-archive is-size-6 p-r-sm has-text-black-ter"></i>
            Marquer comme traité
          </a>
          <a href="" class="has-text-danger">
            <i class="fa fa-phone-square is-size-5 p-r-sm"></i>
            Appeler les secours
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
