<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [streetViewControl]="false"
  [mapDraggable]="false"
  [zoomControl]="false"
  [zoom]="10"
  [styles]="mapStyles"
>
  <ng-container *ngFor="let accident of accidents">
    <agm-marker
      [latitude]="accident.camera.lat"
      [longitude]="accident.camera.lon"
      *ngIf="accident.closed"
    ></agm-marker>
  </ng-container>

  <ng-container *ngFor="let accident of accidents">
    <agm-marker
      [latitude]="accident.camera.lat"
      [longitude]="accident.camera.lon"
      iconUrl="../../../../assets/img/caution.gif"
      *ngIf="!accident.closed"
    ></agm-marker>
  </ng-container>
</agm-map>

<div class="sidebar" #sidebar>
  <div #sidebarContent>
    <div class="head  m-b-gutter">
      <h4 class="title is-6 m-b-0">Historique des accidents</h4>
      <a (click)="closeSidebar()"><i class="fa fa-close has-text-grey"></i></a>
    </div>
    <app-accident-card
      *ngFor="let accident of accidents"
      [accident]="accident"
    ></app-accident-card>
  </div>
</div>
