<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [streetViewControl]="false"
  [mapDraggable]="false"
  [zoomControl]="false"
  [zoom]="10"
  [styles]="mapStyles"
>
  <agm-marker
    *ngFor="let accident of accidents"
    [latitude]="accident.camera.lat"
    [longitude]="accident.camera.lon"
    (markerClick)="openSidebar(m, $event)"
  ></agm-marker>
</agm-map>

<div class="sidebar" #sidebar>
  <a (click)="closeSidebar()">Close</a>
  <!-- TODO : Boucle for ici -->
  <app-accident-card></app-accident-card>
</div>
