<div class="card" [ngClass]="{ 'is-closed': accident.closed }">
  <div class="card__content">
    <div class="card--left">
      <figure>
        <img src="../../../../assets/img/accident.jpg" alt="" />
      </figure>
    </div>
    <div class="card--right">
      <div>
        <div class="card--middle">
          <p class="has-dot m-l-sm">
            <i class="dot m-r-xs">•</i>
            <span class="p-b-md has-text-black">
              {{ accident.vehicles.length }}
              <ng-container *ngIf="accident.vehicles.length > 1">
                véhicules sont concernés
              </ng-container>
              <ng-container *ngIf="accident.vehicles.length < 2">
                véhicule est concerné
              </ng-container>
              par un accident sur votre secteur
            </span>
          </p>
          <p class="m-l-sm m-t-md vehicles">
            <span class="m-r-gutter" *ngIf="carCount">
              <i class="fa fa-car m-r-xs"></i>
              x {{ carCount }}
            </span>
            <span class="m-r-gutter" *ngIf="bikeCount">
              <i class="fa fa-motorcycle m-r-xs" *ngIf="bikeCount"></i>
              x {{ bikeCount }}
            </span>
          </p>
        </div>
        <div class="card--bottom">
          <p class="date m-l-sm p-t-md m-t-md">
            <span class="m-r-gutter">{{ accident.createdAt | date }}</span>
            <span>{{ accident.createdAt | date: 'HH:mm' }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card__footer">
    <a
      (click)="close(accident)"
      class="has-text-black"
      *ngIf="!accident.closed"
    >
      <i class=" ctas fa fa-archive p-r-sm has-text-black-ter"></i>
    </a>
    <a href="" class="has-text-danger">
      <i class=" ctas fa fa-adjust p-r-sm has-text-black-ter"></i>
    </a>
    <a href="" class="has-text-danger">
      <i class=" ctas fa fa-phone-square"></i>
    </a>
  </div>
</div>
